<p id="notice"><%= notice %></p>
 		Email: <%= label_tag @setting.email %><br />
    Feature : <%= check_box_tag :feature, @setting.feature,@setting.feature, {disabled:true} %><br />
    Item (Integer)  : <%= label_tag @setting.items %><br />
    Priority Level (Float) : <%= label_tag @setting.priority %><br />

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
