<%= render 'header'%>
	<div class="row">
	<div class="span5 offset1">
	 <table class="table">
		<tr>
	 		<td><b>Email:</b> <%=  @setting.email %></td>
	  </tr>
	  <tr>
	   	 <td><b>Feature :</b> <%= check_box_tag :feature, @setting.feature,@setting.feature, {disabled:true} %></td>
	   </tr>
	   <tr>
	    	<td><b>Item (Integer)</b>  : <%=  @setting.items %></td>
	   </tr>
	   <tr>
	  	  <td><b>Priority Level (Float)</b> : <%=  @setting.priority %></td>
		</tr>
	</table>
	<%= link_to 'Edit', edit_setting_path(@setting), class:'btn btn-primary', style:"color: #F6EBEB;"%> 
	</div>
</div>