<!DOCTYPE html>
<html>
<head>
  <title>Stelladot</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if user_signed_in? %>
		<div class=" span12">
			<br>
				<span style="float:left"><%= "You are signed is as: " +current_user.email %></span>
				<%= link_to "Sign out", destroy_user_session_path, {method: :delete, style: "float:right"} %>
		</div>
	  <% else %>
	  <div class="offset1 span11">
		  <span style="margin-left: 30px;">
		  	<%= link_to "Sign up", new_user_registration_path %> or
			  <%= link_to "Sign in", new_user_session_path %>
			</span>
		<% end %>
		<br>
		<div class="row">
			<hr>
		</div>

<%= yield %>

</body>
</html>
